.button-primary {
    border: none;
    outline: none;
    padding: 12px 24px;
    color: #000;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.button-primary:hover {
    background-color: #ebebeb;
}

.button-secondary {
    border: none;
    outline: none;
    padding: 12px 24px;
    color: #000;
    background-color: #d9d9d9;
    font-weight: 600;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: #ebebeb;
}